<div>
    <h2 style="color: #343a40; font-weight: bold; text-transform: uppercase; border-bottom: 2px solid #6c757d; padding-bottom: 10px;">Recuerda</h2>
    <p><strong>Eres el Jugador A.</strong> Mantendrás este rol durante todas las rondas.</p>
    <p><strong>Tu tarea:</strong> Envía un mensaje 📨 al Jugador B.</p>
  
    <br>
    <h4 style="text-align: left">Reglas de pago:</h4>
    <ul>
      <li>Una <strong>mayor</strong> 📈 suposición por parte del Jugador B → <strong>Más</strong> dinero para ti.</li>
      <li>Una suposición <strong>más cercana</strong> 🎯 al número secreto → <strong>Más</strong> dinero para el Jugador B.</li>
    </ul>
  
    <br>
    <h4 style="text-align: left">Reglas del mensaje:</h4>
    <ul>
      <li><strong>No conoces</strong> el número secreto.</li>
      <li>Puedes <strong>enviar un número (1-7)</strong>{{ if player.participant.treatment != "Babbling" }} O{{ endif }}</li>
      {{ if player.participant.treatment != "Babbling" }} 
      <li><strong>Delegar al computador</strong> 🤖 (que siempre envía el verdadero número secreto).</li>
      {{ endif }}
      {{ if player.participant.treatment == "Decode" }}
      <li>Dos de los Jugadores B deben <strong>decodificar</strong> tu mensaje antes de adivinar.</li>
      {{ endif }}
    </ul>
  
    <br>
    <h4 style="text-align: left">⏳ Límite de tiempo: 20 segundos</h4>
    <p>Si <strong>no envías un mensaje</strong>, <strong>no recibirás un bono</strong> por esta ronda.</p>
</div>