{% extends "global/Base.html" %}

{% block content %}
<div style="display: flex; margin: 0;">

    
<!-- Left Pane -->
<div class="left-pane" style="width: 50%; background-color: #f8f9fa; padding: 20px; box-sizing: border-box; overflow-y: auto; border-right: 1px solid #ddd;">
   
    {{ include Constants.SenderReminder }}
   
</div>

    <!-- Right Pane -->
    <div class="right-pane" style="width: 50%; background-color: #fff; padding: 20px; box-sizing: border-box; overflow-y: auto;">
        <h3>Round {{player.round_number}}: Send a Message to Player B</h3>

        <p>
            <label for="id_sender_choice" style="font-size: 20px;">
                Choose a number to send as a message to Player B.
            </label>
            <p data-intro="Choose your number" data-step="5">
            <select name="sender_choice" id="sender_choice" class="form-select form-select-lg" oninput="valueInput(this.value)">
                <option value="" selected>Choose here</option>
                {{ if player.participant.treatment != "Babbling" }}
                <option value="8">🤖 Send True Secret Number (via Computer)</option>
                {{ endif }}
                <option value="1">1️⃣</option>
                <option value="2">2️⃣</option>
                <option value="3">3️⃣</option>
                <option value="4">4️⃣</option>
                <option value="5">5️⃣</option>
                <option value="6">6️⃣</option>
                <option value="7">7️⃣</option>
                
            </select>
        </p>
        </p>

        <div id="confirm_button" class="hidden-paragraph">
            <p>
                <span id="pre_message"></span>
            </p>
            <div class="d-flex justify-content-center">
                <div class="card text-dark bg-light mb-3" style="width: 24rem;">
                    <div class="card-body text-center">
                        <p class="card-text">To receive the highest payoff, you should guess <b><span id="message"></span></b>.</p>
                    </div>
                </div>
            </div>

            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

<script>
    function valueInput (input_answer) {
        const confirmButton = document.getElementById('confirm_button');
        const messageSpan = document.getElementById('message');
        const preMessageSpan = document.getElementById('pre_message');

        if (parseFloat(input_answer) >= 1 && parseFloat(input_answer) <= 7) {
            preMessageSpan.innerHTML = "Based on your choice, Player B will receive the following message:";
            messageSpan.innerHTML = input_answer;
            show_text(confirmButton);
        } else if (parseFloat(input_answer) === 8) {
            preMessageSpan.innerHTML = "Based on your choice, the computer will replace the \"X\" below with the true secret number:";
            messageSpan.innerHTML = "X";
            show_text(confirmButton);
        }
        else {
            messageSpan.innerHTML = "Choose a number!";
            hide_text(confirmButton);
        }
    };

    function show_text (element) {
        element.classList.remove('hidden-paragraph');
    };

    function hide_text (element) {
        element.classList.add('hidden-paragraph');
    };
</script>

{% endblock %}

{% block styles %}

<!-- Load the custom css styles -->
<link rel="stylesheet" href="{% static 'global/myStyle.css' %}">
<link rel="stylesheet" href="{% static 'global/myStyleButton.css' %}">

{% endblock %}